$white:#fdfffc;
$background: #fdfffc ;
$buttonColor: rgb(230, 52, 98);
$buttonColorHover:rgb(230, 1, 98);
$blueJean: rgb(99, 173, 242);
$topbar: #011627;


body {
    background-color: $topbar;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:$topbar;
    .main-h1{
        display: flex;
        background-color: $topbar;
        font-family: "Alegreya Sans", sans-serif;
        width: 100%;
        border-radius: 5px;
        justify-content: center;

        h1{

            color: $white;
            font-size: 50px;
        }
    }
    .main-bar{
        margin-top: 20px;
        align-items: flex-end;
        flex-direction: row;
        background-color: $topbar;
        .main-bar-input{
            align-items: flex-start;
            input{
                width: 632px;
                height: 100px;
                font-size: 40px;
                background-color: $white;
                color: $topbar;
                text-align: center;
                border-radius: 0.5rem;
                border: 0;
                opacity: 0.95;
                &:focus{
                   opacity: 1;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
        .main-buttons{
            justify-content: center;
            button{
                color: $white;
                margin-top: 10px;
                font-size: 1.25rem;
                background-color: $buttonColor;
                padding: 10px 22px;
                border: 0;
                border-radius: 0.5rem;
                cursor: pointer;
                &:hover{
                    background-color: $buttonColorHover;
                }
            }
        }  
    }
    .paragraphs{
        margin-top: 10px;
        position: relative;
        width: 638px;
        p{
            color: $topbar;
            font-size: 2.5rem;
            background-color: $white;
            margin-top: 0px;
            margin-bottom: 5px;
            text-align: center;
            border-radius: 0.5rem;
            cursor: pointer;
            opacity: 0.90;
            &:hover{
                opacity: 1;
            }
        }
    }   
}