h1{
    text-align: center;
}


#response{
    display: flex;
    #responseUl{
        display: flex;
        flex-wrap: wrap;
        &>div{
            text-align: center;
            width: 150px;
            margin-left: 100px;
            margin-bottom: 120px;
            padding-left: 20px;
            padding-right: 20px;
            background: rgba( 231, 23, 23, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 7px );
            -webkit-backdrop-filter: blur( 7px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
    }
}
