body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #1471fb, #2757dc, #2d3ebd, #2d259e, #290480);
}
.page{
    display: flex;
    justify-content:center;
    flex-direction: column;
    h1{
        color:white;
        justify-content: center;
    }
    h2{
        display: flex;
        color:white;
        justify-content: center;
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        &>button{
            justify-content: center;
            width: 50px;
            height: 40px;
            border-radius: 50px;
            background: linear-gradient(to bottom, #1266e2, #1579ff);
            box-shadow:  20px 20px 60px #1160d5,
                        -20px -20px 60px #1782ff;
            border:0;
            color:white;
        }
    }
}
